<?xml version="1.0"?>
<config>
    <modules>
        <Divante_MultiWishlist>
            <version>1.0.0</version>
        </Divante_MultiWishlist>
    </modules>
    <global>
        <models>
            <divante_multiwishlist>
                <class>Divante_MultiWishlist_Model</class>
                <resourceModel>divante_multiwishlist_resource</resourceModel>
            </divante_multiwishlist>
            <divante_multiwishlist_resource>
                <class>Divante_MultiWishlist_Model_Resource</class>
            </divante_multiwishlist_resource>
            <wishlist>
                <rewrite>
                    <wishlist>Divante_MultiWishlist_Model_Wishlist</wishlist>
                </rewrite>
            </wishlist>
            <wishlist_resource>
                <rewrite>
                    <wishlist>Divante_MultiWishlist_Model_Resource_Wishlist</wishlist>
                </rewrite>
            </wishlist_resource>
        </models>
        <blocks>
            <divante_multiwishlist>
                <class>Divante_MultiWishlist_Block</class>
            </divante_multiwishlist>
        </blocks>
        <helpers>
            <divante_multiwishlist>
                <class>Divante_MultiWishlist_Helper</class>
            </divante_multiwishlist>
        </helpers>
        <resources>
            <divante_multiwishlist_setup>
                <setup>
                    <module>Divante_MultiWishlist</module>
                </setup>
            </divante_multiwishlist_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <divante_multiwishlist>
                    <file>divante_multiwishlist.xml</file>
                </divante_multiwishlist>
            </updates>
        </layout>
        <routers>
            <wishlist>
                <args>
                    <modules>
                        <divante_multiwishlist before="Mage_Wishlist">Divante_MultiWishlist</divante_multiwishlist>
                    </modules>
                </args>
            </wishlist>
        </routers>
    </frontend>
</config>